<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="media.html" style="float: left;"><img class="logo" src="img/logo1.png" alt="logo"></a>         
            <input
                style="height: 20px; width: 380px; margin-top: 40px; margin-left: 40px; font-size: 20px; float: left; border-radius: 5px; padding-left: 13px;"
                type="text" placeholder="Nhập từ khóa tìm kiếm">
            <img src="img/ic2.png" style="width: 30px; height: 30px; margin-top: 37px; float: left;" alt="">
            <div style="margin-top: 30px;margin-left: 70px; float: left;">
                <a href="giohang.html" style="line-height: -12px; float: left; font-weight: bold;"><img src="img/ic_shoppingcart.png"
                        style="width: 26px; height: 26px;" alt="">
                    Giỏ Hàng
                </a>
            </div>
            <div class="tk">               
                <a href="#" style="line-height: -10px; font-size: 16px;"><img src="img/ic_dauhoi.png" style="width: 16px; height: 16px;"
                    alt="" hspace="5px">
                    Hỗ Trợ
                </a>
                <a href="#" style="line-height: -10px; font-size: 16px;"><img src="img/ic_chuongtb.png"
                        style="width: 16px; height: 16px;" alt="" hspace="5px">
                    Thông Báo
                </a>
                <div class="tk-right">                    
                    <a href="dangnhap.html">Đăng nhập </a>
                    <a href=""><img src="img/icons8_user.png"alt=""></a>
                </div>
                <a href="a.html" target="a">Đăng ký</a>
            </div>  
        </header>
        <nav>
            <ul>
                <li><a href="index.html"> Trang chủ </a></li>
                <li><a href="tintuc.html"> Tin tức </a></li>
                <li><a href="sanpham.html"> Sản phẩm </a></li>
                <li><a href="gioithieu.html"> Giới thiệu </a></li>
                <li><a href="table.html"> Liên hệ </a></li>
            </ul>
        </nav>
        <div class="banner">
            
        </div>
        <section>
            <div class="spnb">
                <p style="color: rgb(146, 169, 28); font-size: 20px; font-family: Arial, Helvetica, sans-serif; word-spacing: 1px;">
                    SẢN PHẨM NỔI BẬT</p>
            </div>
            <div class="boxsp">
                <div class="sp">
                    <a href="sanpham1.html">
                        <img src="img/xe1.jpg" alt="">
                        <p>Kawasaki Z1000</p>
                        <p>344.300.000 đ</p>
                        <button>Thêm vào giỏ hàng</button>
                    </a>
                </div>
                <div class="sp">
                    <a href="sanpham2.html">
                        <img src="img/xe14.jpg" alt="">
                        <p>Royal Enfield Shotgun 650</p>
                        <p>344.300.000 đ</p>
                        <button>Thêm vào giỏ hàng</button>
                    </a>
                </div>
                <div class="sp">
                    <a href="sanpham3.html">
                        <img src="img/xe12.jpg" alt="">
                        <p>Kawasaki Ninja H2R</p>
                        <p>1.830.000.000 đ</p>
                        <button>Thêm vào giỏ hàng</button>
                    </a>
                </div>
                <div class="sp">
                    <a href="sanpham4.html">
                        <img src="img/xe8.jpg" alt="">
                        <p>Suzuki Hayabusa</p>
                        <p>610.500.000 đ</p>
                        <button>Thêm vào giỏ hàng</button>
                    </a>
                </div>
                <div class="sp">
                    <a href="">
                        <img src="img/xe4.jpg" alt="">
                        <p>Wave Alpha 2023</p>
                        <p>22.000.000 đ</p>
                        <button>Thêm vào giỏ hàng</button>
                    </a>
                    
                </div>
                <div class="sp">
                    <a href="">
                        <img src="img/xe2.jpeg" alt="">
                        <p>SH160i 2023</p>
                        <p>127.000.000 đ</p>
                        <button>Thêm vào giỏ hàng</button>
                    </a>
                    
                </div>
                <div class="sp">
                    <a href=""><img src="img/xe11.jpg" alt="">
                        <p>Air Blade</p>
                        <p>43.000.000 đ</p>
                        <button>Thêm vào giỏ hàng</button>
                    </a>
                    
                </div>
                <div class="sp">
                    <a href=""><img src="img/xe5.jpg" alt="">
                        <p>Vespa Sprint 125</p>
                        <p>81.000.000 đ</p>
                        <button>Thêm vào giỏ hàng</button>
                    </a>
                    
                </div>
            </div>
            <div style="position: relative; margin-top: 20px;">
                <img src="img/banner_pkxm.jpg" alt="" style="width: 100%;height: 350px;">
            </div>
            <div class="spnb">
                <p style="color: rgb(146, 169, 28); font-size: 20px; font-family: Arial, Helvetica, sans-serif; word-spacing: 1px;">
                    PHỤ TÙNG XE MÁY</p>
            </div>
            <div class="boxsp1">
                <div class="sp1">
                    <a href="sanpham1.html">
                        <img src="img/pt1.jpg" alt="">
                        <p>Bộ kit lên 88cc Tiêu Chuẩn</p>
                        <p>5.360.000 đ</p>
                        <button>Thêm vào giỏ hàng</button>
                    </a>
                </div>
                <div class="sp1">
                    <a href="sanpham1.html">
                        <img src="img/pt2.jpg" alt="">
                        <p>Bộ giảm xóc</p>
                        <p>2.000.000, đ</p>
                        <button>Thêm vào giỏ hàng</button>
                    </a>
                </div>
                <div class="sp1">
                    <a href="sanpham1.html">
                        <img src="img/pt3.jpg" alt="">
                        <p>Bộ nâng 124cc [Loại 3]</p>
                        <p>34.400.000 đ</p>
                        <button>Thêm vào giỏ hàng</button>
                    </a>
                </div>
                <div class="sp1">
                    <a href="sanpham1.html">
                        <img src="img/pt4.jpg" alt="">
                        <p>Bộ cùm thắng tiêu chuẩn</p>
                        <p>1.800.000 đ</p>
                        <button>Thêm vào giỏ hàng</button>
                    </a>
                </div>
                <div class="sp1">
                    <a href="sanpham1.html">
                        <img src="img/pt5.jpg" alt="">
                        <p>Silentstreet Muffler</p>
                        <p>3.250.000 đ</p>
                        <button>Thêm vào giỏ hàng</button>
                    </a>
                </div>
                <div class="sp1">
                    <a href="sanpham1.html">
                        <img src="img/pt6.jpg" alt="">
                        <p>Sên VX 520VX3 vàng</p>
                        <p>344.300.000 đ</p>
                        <button>Thêm vào giỏ hàng</button>
                    </a>
                </div>
            </div>
            <div style="border: 4px solid #ab6161;
        background-color: rgb(18, 20, 22);
        height: 40px; 
        margin: auto;
        margin-top: 30px;
        line-height: 2px;
        text-align: center;
        width: 360px;">
            <p
                style="color: rgb(146, 169, 28); font-size: 20px; font-family: Arial, Helvetica, sans-serif; word-spacing: 1px;">
                NHỮNG THƯƠNG HIỆU HÀNG ĐẦU</p>
        </div>
        <div>
            <table style="width: 1000px; height: 200px;" align="center">
                <tr>
                    <td><img src="img/logo3.png" style="width: 80px; height: 80px;" alt=""></td>
                    <td><img src="img/logo4.png" style="width: 200px; height: 150px;" alt=""></td>
                    <td><img src="img/logo5.png" style="width: 200px; height: 150px;" alt=""></td>
                    <td><img src="img/logo6.png" style="width: 200px; height: 150px;" alt=""></td>
                    <td><img src="img/logo7.png" style="width: 200px; height: 100px;" alt=""></td>
                </tr>
            </table>
        </div>
        </section>
        <footer>
            <div id="b">
                <p
                    style="color: aliceblue; font-family:Arial, Helvetica, sans-serif; margin-left: 40px; font-size: 16px;">
                    THÔNG TIN LIÊN HỆ</p>
                <p>Lầu 20, tòa nhà Havana, số 132 Hàm Nghi, P. Bến Thành, Q.1, TP.HCM.</p>
                <p>Giờ làm việc: Thứ 2 - 6: 8h00 - 17h00</p>
                <p>Email: thuannmps34337@fpt.edu.vn</p>
                <p>Đường dây nóng: 0979362735</p>

            </div>
            <div style="float: right; margin-right: 400px; line-height: 10px;">
                <p
                    style="color: aliceblue; font-family:Arial, Helvetica, sans-serif; margin-left: 40px; font-size: 16px;">
                    THEO DÕI CHÚNG TÔI TRÊN</p>
                <a href="#"><img src="img/ic_yt.png" style="width: 26px; height: 26px;" alt="" hspace="4px">
                </a>
                <a href="#"><img src="img/ic_insta.png" style="width: 26px; height: 26px;" alt="" hspace="4px">
                </a>
                <a href="#"><img src="img/ic_fb.png" style="width: 26px; height: 26px;" alt="" hspace="4px">
                </a>
            </div>
        </footer>
    </div>
</body>
</html>